.academics-jumbotron {
  background: linear-gradient(rgba(31, 31, 46, 0.85), rgba(31, 31, 46, 0.85)), url(/assets/img/carousel-1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  border-radius: 0;
}

.font-weight-medium {
  font-weight: 500;
}

.card {
  border-radius: 0;
}

.border {
  transition: 0.3s;
}

.border:hover {
  border-color: #17a2b8 !important;
}