<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h3 class="text-primary text-uppercase font-weight-bold">Our Services</h3>

        </div>
        <div class="services-grid">
            <div class="service-item" *ngFor="let each of mockData;let i=index">
                <div class="service-item-content">
                    <div class="service-image">
                        <img class="img-fluid" src="{{each.image}}" alt="">
                    </div>
                    <h4 class="service-title">{{each.service}}</h4>
                    <a class="btn-service" data-toggle="modal" href="#exampleModalLong{{i}}">
                        <i class="fa fa-arrow-right"></i><span>Read More</span>
                    </a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{each.service}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="mb-4">{{each.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->