<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h3 class="text-primary text-uppercase font-weight-bold">Our Services</h3>
            
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.7s" *ngFor="let each of mockData;let i=index">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid profile" style="height: 200px;" src="{{each.image}}" alt="">
                    </div>
                    <h4 class="mb-3">{{each.service}}</h4>
                   
                   
                        <a class="btn-slide mt-2" data-toggle="modal" href="#exampleModalLong{{i}}"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
                     
                    </div>   <!-- Modal -->
                <div class="modal fade" id="exampleModalLong{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{each.service}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p class="mb-4">{{each.desc}}</p>
                    </div>
                
                </div>
                </div>
            </div>
               
            </div>
            </div>
        </div>
    </div>

<!-- Service End -->

<!-- Services Start 
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-left pb-2">
            <h3 class="text-primary text-uppercase font-weight-bold">Our Services</h3>
            <h6 class="mb-4">Best Logistic Services</h6>
        </div>
       <div class="row pb-3">
            <div class="col-lg-3 col-md-6 text-left mb-5" *ngFor="let data of mockData">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-{{data.icon}} text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">{{data.service}}</h6>
                </div>
                <p>{{data.desc}}</p>
                <a class="border-bottom text-decoration-none" href="">Read More</a>
            </div>
            
        </div> 
        <div class="row" id="testimonial">
            <div class="col-lg-4" *ngFor="let each of mockData">
                <div class="card">
                    <div class="face front-face"> <img src="{{each.image}}" alt="" class="profile">
                        <div class="pt-3 text-uppercase name"> {{each.service}} </div>
                    </div>
                    <div class="face back-face"> <span class="fas fa-quote-left"></span>
                        <div class="testimonial"> {{each.desc}} </div> <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
Services End -->
