<!-- Team Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Delivery Team</h6>
            <h1 class="mb-4">Meet Our Delivery Team</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6" *ngFor="let each of mockData">
                <div class="team card position-relative ">
                    <img class="card-img-top" src="{{each.image}}" alt="" style="height: 250px;">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">{{each.name}}</h5>
                            <span>{{each.designation}}</span>
                            <span>{{each.email}}</span>
                            <span>{{each.phone}}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Team End -->