.team .team-text {
    position: relative;
    width: 100%;
    height: 130px;
    bottom: 0px;
    left: 0;
    transition: .5s;
  }
  
  .team:hover .team-text {
    bottom: 0px;
  }
  
  .team .team-social {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -100px;
    left: 0;
    transition: .5s;
  }
  
  .team:hover .team-social {
    bottom: 0;
  }