<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h3 class="text-primary text-uppercase font-weight-bold">Our Certifications</h3>
        </div>
        <div class="row g-2">
            <div
                class="col-lg-2 wow fadeInUp"
                data-wow-delay="0.7s"
                *ngFor="let each of mockDataCert;let i=index"
            >
                <h4 class="mb-3">{{each.title}}</h4>
                <a
                    class="btn-slide mt-2"
                    data-toggle="modal"
                    href="#modal{{i}}"
                >
                    <span>View</span>
                </a>
                <div class="service-item p-4"></div>
            </div>
        </div>
    </div>
    <div *ngFor="let item of mockDataCert;  let index = index ">
        <!-- Bootstrap Modal -->
        <div
            class="modal fade"
            [attr.id]="'modal' + index"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modal"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            class="modal-title"
                            id="exampleModalLabel"
                        >
                            Modal for {{ index }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Modal Content Goes Here -->
                        <!-- You can customize the content based on your needs -->
                        <p>This is the content for {{ index }}.</p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
