<!-- Footer Start -->
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-7 col-md-6">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h3 class="text-primary mb-4">Get In Touch</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>Old No 269/1, New No 126, Office No A4, First Floor 
                        Thambuchetty Street, Chennai  PIN 600 001</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+91 44 4355 6538</p>
                    <p><i class="fa fa-envelope mr-2"></i>info@prrtransglobal.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mr-2" href="https://www.facebook.com/prrtranslogistics"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/prr_trans_logistics_pvt_ltd/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h3 class="text-primary mb-4">Quick Links</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
                        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Pricing Plan</a>
                        <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 mb-5">
            
            <h3 class="text-primary mb-4">Affiliations</h3>
            <p></p>
            <div class="w-100">
                <ul class="list-inline">
                    <li class="text-white"><h6 class="text-white"><i class="far fa-dot-circle text-primary mr-3"></i>A Member of  Federation of Freight Forwarders’ Associations in India</h6>
                    <li class="text-white"><h6 class="text-white"><i class="far fa-dot-circle text-primary mr-3"></i>A Member of  The Chennai Customs Broker association</h6></li>
                    <li class="text-white"><h6 class="text-white"><i class="far fa-dot-circle text-primary mr-3"></i>A Member of  Freight Global net work</h6></li>
                    <li class="text-white"><h6 class="text-white"><i class="far fa-dot-circle text-primary mr-3"></i>A Member of  Freight net Global net work</h6></li>
                    <li class="text-white"><h6 class="text-white"><i class="far fa-dot-circle text-primary mr-3"></i> Authorised Economic Operator (AEO) from Indian Customs</h6></li>
                    <li class="text-white"><h6 class="text-white"><i class="far fa-dot-circle text-primary mr-3"></i>MTO License from Director General of Shipping, Govt. of India (License No: MTO/DGS/2586/JAN/2025)</h6></li>
                    <li class="text-white"><h6 class="text-white"><i class="far fa-dot-circle text-primary mr-3"></i>Custom Broker License from Indian Customs (License No R-530/2019-CBS), issued by Chennai Customs</h6></li>
                    <li class="text-white"><h6 class="text-white"><i class="far fa-dot-circle text-primary mr-3"></i>Registered MSME as per MSME Act</h6></li>
                </ul>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white">&copy; <a href="#">PRR Trans Logistics Pvt. Ltd</a>. All Rights Reserved. 
            
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed by <a href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>