<!-- Features Start -->
<div class="container-fluid  my-5">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-lg-12">
                <h3 class="text-primary text-uppercase font-weight-bold">Our Strength</h3>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial">    Strength is nothing, but willingness and readiness to perform</div> <span class="fas fa-quote-right"></span>
                </div>
             
                <h6 class="mb-4">Professional, Reliable and Responsible Logistics Service </h6>
                <p class="mb-4">We believe that we are well-positioned to execute our business strategies successfully because of the following competitive strengths </p>
                <ul class="list-inline">
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Industry depth Knowledge with enough experience in export and Import of Air and Sea Freight forwarding ,Custom Clearance, Break Bulk shipments, Perishables, Dangerous goods and other Heavy weight cargos </h6></li>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>    24 x 7 customer support - pro active with customer requirements.</h6></li>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i> Providing personalised services to customer for the Faster/ Express delivery.</h6></li>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i> Our team, they are committed to their ‘duty’ not just doing the ‘work’. Our team aligned with values-keeping customers satisfied. </h6></li>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i> PRR Logistics' reputation is built on delivering outstanding single point logistics solutions that meet the specific needs of our clients,</h6></li>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i> In providing total logistics services, PRR combines the cutting edge skills and experience of its entire team, to design, implement and operate logistics solutions that ensure transparency, improve inventory availability while reducing total expenses.</h6></li>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>  Our full range of services, from packaging, storage, to guaranteed on time delivery.</h6></li>
                </ul>
                <p class="mb-4">We help you find innovative solutions to make your processes work better, easier, faster or more profitable.</p>
                <p class="mb-4">We believe that we are well-positioned to execute our business strategies successfully because of the following competitive strengths </p>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->